Repository geoffdavis/esphome-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: esphome-credential-check, git-secrets-scan

esphome-credential-check:
  name: ESPHome credential validation
  entry: .githooks/esphome_credential_check.py
  language: script
  pass_filenames: true

git-secrets-scan:
  name: Git-secrets credential scan
  entry: .githooks/git_secrets_scan.py
  language: script
  pass_filenames: true

Fix detect-secrets baseline drift issue
  .secrets.baseline
Due: none

Fix pre-commit hooks: Add markdown linting with relaxed rules
  .markdownlint.json
  .pre-commit-config.yaml
Due: esphome-credential-check, git-secrets-scan

Fix GitHub Actions: Install mise for pre-commit hooks
  .github/workflows/security-scan.yml
Due: esphome-credential-check, git-secrets-scan

Fix markdownlint line length violations in documentation
  docs/status/CREDENTIAL_DEPLOYMENT_STATUS.md
  docs/status/ESPHOME_CREDENTIAL_CHECK_REMOVAL.md
  docs/status/MIGRATION_GUIDE.md
  docs/status/PRE_COMMIT_MISE_FIX.md
  docs/status/PYTHON_SECURITY_MIGRATION.md
  docs/status/SECURITY.md
  docs/status/SECURITY_FRAMEWORK.md
Due: git-secrets-scan

Fix markdown linting violations in documentation files
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/memory-bank-instructions.md
  .kilocode/rules/memory-bank/product.md
  .kilocode/rules/memory-bank/tasks.md
  .kilocode/rules/memory-bank/tech.md
  ESP01_RECOVERY_WORKFLOW.md
  docs/DOCUMENTATION_MAINTENANCE.md
  docs/reference/memory-bank-guide.md
  docs/reference/task-commands.md
  docs/security/credential-rotation.md
  docs/security/migration-notes.md
  docs/status/CREDENTIAL_DEPLOYMENT_FINAL_STATUS.md
  docs/status/ESP01_PHYSICAL_RECOVERY_GUIDE.md
  docs/status/ESP01_RECOVERY_PLAN.md
  docs/status/README.md
Due: git-secrets-scan

Fix pre-commit hooks: Replace mise wrapper with improved Python wrapper
  .githooks/python-wrapper.sh
  .pre-commit-config.yaml
Due: esphome-credential-check, git-secrets-scan

Fix GitHub Actions hanging: Skip Python security hooks in CI environment
  .githooks/python-wrapper.sh
  .pre-commit-config.yaml
Due: esphome-credential-check, git-secrets-scan

Fix Renovate configuration - resolves #2
  renovate.json
Due: git-secrets-scan

Add GitHub CLI tool to development environment
  .mise.toml
Due: none

fix: update Python version to 3.13.5 (available in mise)
  .mise.toml
Due: none

docs: update memory bank tech.md with new Python 3.13.5 and Node.js 22.18.0 versions
  .kilocode/rules/memory-bank/tech.md
Due: git-secrets-scan

fix: remove invalid hashFiles usage in GitHub Actions workflow
  .github/workflows/dependency-security.yml
Due: esphome-credential-check, git-secrets-scan

fix: update safety command from deprecated 'check' to 'scan'
  .github/workflows/dependency-security.yml
Due: esphome-credential-check, git-secrets-scan

fix: configure safety scan for CI environment
  .github/workflows/dependency-security.yml
Due: esphome-credential-check, git-secrets-scan

fix: replace Safety CLI with pip-audit for vulnerability scanning
  .github/workflows/dependency-security.yml
Due: esphome-credential-check, git-secrets-scan

Fix upload task interactive prompts
  Taskfile.yml
Due: esphome-credential-check, git-secrets-scan

testing: update external component source to use main branch for testing
  common/heatpump-climate.yaml
Due: esphome-credential-check, git-secrets-scan

feat(heatpump): add neopixel support to esp32 nanoc6 platform
  bedroom-east-heatpump.yaml
  common/heatpump-climate.yaml
  common/heatpump-esp32-nanoc6.yaml
Due: esphome-credential-check, git-secrets-scan

docs: move recovery workflow to status directory and update device paths
  docs/device-management/esp32-nanoc6-deployment-guide.md
  docs/status/ESP01_RECOVERY_WORKFLOW.md
Due: git-secrets-scan

feat(common): add bluetooth proxy configuration for esp32 devices
  common/bluetooth-proxy.yaml
Due: esphome-credential-check, git-secrets-scan

refactor(heatpump): migrate bedroom west heatpump from esp01 to esp32-c6 platform
  bedroom-west-heatpump.yaml
  bedroom_west_heatpump-minimal.yaml
  bedroom_west_heatpump-recovery.yaml
Due: esphome-credential-check, git-secrets-scan

build: migrate to uv package manager and modern Python tooling
  .mise.toml
  .python-version
  docs/device-management/esp32-nanoc6-deployment-guide.md
  main.py
  pyproject.toml
  requirements.txt
Due: git-secrets-scan

docs(memory-bank): update documentation for ESP32-C6 platform expansion and Python 3.13.5 migration
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/brief.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/product.md
  .kilocode/rules/memory-bank/tasks.md
  .kilocode/rules/memory-bank/tech.md
Due: git-secrets-scan

build(deps): pin esphome to 2025.7.0 for mitsubishi cn105 compatibility
  pyproject.toml
Due: none

build(deps): pin MitsubishiCN105ESPHome external component to v1.4.2
  common/heatpump-climate.yaml
Due: esphome-credential-check, git-secrets-scan

feat(heatpump): add multi-click button functionality for esp32-c6 devices
  common/heatpump-esp32-nanoc6.yaml
  common/sensors.yaml
Due: esphome-credential-check, git-secrets-scan

build(deps): update esphome dependency to version 2025.7.5
  pyproject.toml
Due: none

Path conditions:
  esphome-credential-check: any of: \.(yaml|yml)$
  git-secrets-scan: any of: \.(yaml|yml|sh|py|js|ts|json|md)$
