Repository geoffdavis/esphome-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: esphome-credential-check, git-secrets-scan

esphome-credential-check:
  name: ESPHome credential validation
  entry: .githooks/esphome_credential_check.py
  language: script
  pass_filenames: true

git-secrets-scan:
  name: Git-secrets credential scan
  entry: .githooks/git_secrets_scan.py
  language: script
  pass_filenames: true

docs: initialize comprehensive memory bank for ESPHome project
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/brief.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/memory-bank-instructions.md
  .kilocode/rules/memory-bank/product.md
  .kilocode/rules/memory-bank/tasks.md
  .kilocode/rules/memory-bank/tech.md
  .pre-commit-config.yaml
  requirements.txt
Due: esphome-credential-check, git-secrets-scan

fix(security): add pragma allowlist comments for detect-secrets false positives
  .githooks/esphome-credential-check.sh
  .githooks/esphome_credential_check.py
  .github/workflows/security-scan.yml
  README.md
  SECURITY.md
  scripts/generate_secrets.sh
  secrets.yaml.example
Due: esphome-credential-check, git-secrets-scan

fix(hooks): improve pre-commit integration with Mise and ESPHome
  .githooks/mise-python-wrapper.sh
  .pre-commit-config.yaml
  scripts/security_lib.py
  scripts/validate_1password_structure.py
  scripts/validate_secrets.py
  tests/__init__.py
  tests/run_tests.py
  tests/test_config.py
  tests/test_security_lib.py
Due: esphome-credential-check, git-secrets-scan

fix(security): resolve final detect-secrets false positive in security_lib.py
  scripts/security_lib.py
Due: git-secrets-scan

Add comprehensive security framework and ESP01 recovery documentation
  CREDENTIAL_DEPLOYMENT_FINAL_STATUS.md
  CREDENTIAL_DEPLOYMENT_STATUS.md
  CREDENTIAL_ROTATION_GUIDE.md
  ESP01_PHYSICAL_RECOVERY_GUIDE.md
  ESP01_RECOVERY_PLAN.md
  MIGRATION_GUIDE.md
  SECURITY_FRAMEWORK.md
  common/wifi-minimal.yaml
  esp32heatpump.yaml
  scripts/backup_secrets.py
  scripts/recover_device.py
  scripts/rotate_credentials.py
  scripts/setup_dev_secrets.py
  scripts/track_secret_rotation.py
  scripts/validate-1password-structure.sh
  scripts/validate-secrets.sh
  tests/test_rotate_credentials.py
  tests/test_scripts.py
Due: esphome-credential-check, git-secrets-scan

Add additional security and recovery scripts
  CREDENTIAL_ROTATION_WALKTHROUGH.md
  PRE_COMMIT_MISE_FIX.md
  scripts/deploy_with_rotation.py
  scripts/esp01_recovery.py
  scripts/recovery_deployment.py
Due: git-secrets-scan

Update .gitignore to prevent future credential rotation file issues
  .gitignore
Due: none

docs: Add comprehensive security framework documentation
  CREDENTIAL_DEPLOYMENT_FINAL_STATUS.md
  CREDENTIAL_DEPLOYMENT_STATUS.md
  CREDENTIAL_ROTATION_GUIDE.md
  ESP01_PHYSICAL_RECOVERY_GUIDE.md
  ESP01_RECOVERY_PLAN.md
  MIGRATION_GUIDE.md
  PYTHON_SECURITY_MIGRATION.md
  SECURITY_FRAMEWORK.md
Due: git-secrets-scan

feat: Implement unified Python security framework
  scripts/backup_secrets.py
  scripts/recover_device.py
  scripts/rotate_credentials.py
  scripts/setup_dev_secrets.py
  scripts/setup_security.py
  scripts/track_secret_rotation.py
Due: git-secrets-scan

test: Add comprehensive test suite for Python security framework
  tests/test_esphome_credential_check.py
  tests/test_rotate_credentials.py
  tests/test_scripts.py
Due: git-secrets-scan

fix: Update remaining security framework files and documentation
  CREDENTIAL_DEPLOYMENT_STATUS.md
  CREDENTIAL_ROTATION_GUIDE.md
  scripts/setup-security.sh
  scripts/setup_dev_secrets.py
  scripts/setup_security.py
  scripts/validate-1password-structure.sh
  scripts/validate-secrets.sh
Due: git-secrets-scan

Update memory bank to reflect current project state
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tasks.md
  .kilocode/rules/memory-bank/tech.md
Due: git-secrets-scan

Implement unified documentation architecture with Memory Bank integration
  README.md
  docs/DOCUMENTATION_MAINTENANCE.md
  docs/README.md
  docs/device-management/recovery-procedures.md
  docs/getting-started/quick-start.md
  docs/reference/memory-bank-guide.md
  docs/reference/task-commands.md
  docs/security/credential-rotation.md
  docs/security/migration-notes.md
  docs/security/overview.md
  docs/status/CREDENTIAL_DEPLOYMENT_FINAL_STATUS.md
  docs/status/CREDENTIAL_DEPLOYMENT_STATUS.md
  docs/status/CREDENTIAL_ROTATION_GUIDE.md
  docs/status/CREDENTIAL_ROTATION_WALKTHROUGH.md
  docs/status/ESP01_PHYSICAL_RECOVERY_GUIDE.md
  docs/status/ESP01_RECOVERY_PLAN.md
  docs/status/MIGRATION_GUIDE.md
  docs/status/PRE_COMMIT_MISE_FIX.md
  docs/status/PYTHON_SECURITY_MIGRATION.md
  docs/status/README.md
  docs/status/SECURITY.md
  docs/status/SECURITY_FRAMEWORK.md
Due: git-secrets-scan

Update Memory Bank: Capture comprehensive documentation reorganization
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tasks.md
Due: git-secrets-scan

Fix markdown linting issues across documentation
  .markdownlint.json
  .mise.toml
  README.md
  docs/DOCUMENTATION_MAINTENANCE.md
  docs/README.md
  docs/device-management/recovery-procedures.md
  docs/getting-started/quick-start.md
  docs/reference/memory-bank-guide.md
  docs/reference/task-commands.md
  docs/security/credential-rotation.md
  docs/security/migration-notes.md
  docs/security/overview.md
  docs/status/CREDENTIAL_DEPLOYMENT_FINAL_STATUS.md
  docs/status/ESP01_PHYSICAL_RECOVERY_GUIDE.md
  docs/status/ESP01_RECOVERY_PLAN.md
  docs/status/README.md
  scripts/recovery_deployment.py
Due: git-secrets-scan

Add markdownlint to pre-commit hooks
  .pre-commit-config.yaml
Due: esphome-credential-check, git-secrets-scan

Update ESPHome to version 2025.7.3
  requirements.txt
Due: none

Fix failing security framework tests
  scripts/security_lib.py
  scripts/setup_dev_secrets.py
Due: git-secrets-scan

Add complete unit test suite to pre-commit hooks
  .pre-commit-config.yaml
Due: esphome-credential-check, git-secrets-scan

Update memory bank: ESP32 M5Stack NanoC6 migration for bedroom_east_heatpump
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tech.md
Due: git-secrets-scan

Migrate bedroom_east_heatpump to ESP32 M5Stack NanoC6
  bedroom_east_heatpump-minimal.yaml
  bedroom_east_heatpump.yaml
  common/heatpump-esp32-nanoc6.yaml
  docs/device-management/esp32-nanoc6-deployment-guide.md
Due: esphome-credential-check, git-secrets-scan

Complete memory bank updates for ESP32 M5Stack NanoC6 migration
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tech.md
Due: git-secrets-scan

Update configuration dependencies
  common/heatpump-climate.yaml
  requirements.txt
Due: esphome-credential-check, git-secrets-scan

Enhance security framework capabilities
  .githooks/esphome_credential_check.py
  scripts/rotate_credentials.py
  scripts/track_secret_rotation.py
  scripts/validate_1password_structure.py
  scripts/validate_secrets.py
Due: git-secrets-scan

Update documentation structure
  docs/README.md
Due: git-secrets-scan

Add ESP01 physical recovery workflow and configurations
  ESP01_RECOVERY_WORKFLOW.md
  bedroom_west_heatpump-recovery.yaml
  denheatpump-recovery.yaml
Due: esphome-credential-check, git-secrets-scan

Fix formatting issues from pre-commit hooks
  scripts/deploy_with_rotation.py
  scripts/esp01_recovery.py
Due: git-secrets-scan

docs: Update MAC address for ESP32 deployment in configuration
  bedroom_east_heatpump.yaml
Due: esphome-credential-check, git-secrets-scan

Fix LED automation to default to ON after power cycle for diagnostics
  common/heatpump-esp32-nanoc6.yaml
Due: esphome-credential-check, git-secrets-scan

Rename bedroom_east_heatpump.yaml to bedroom-east-heatpump.yaml
  bedroom-east-heatpump.yaml
Due: esphome-credential-check, git-secrets-scan

Fix GitHub security scan false positives
  .gitallowed
  .githooks/esphome_credential_check.py
Due: git-secrets-scan

Remove esp32heatpump test configuration
  docs/status/CREDENTIAL_DEPLOYMENT_STATUS.md
Due: git-secrets-scan

Fix GitHub Actions security scan failure
  .github/workflows/security-scan.yml
  docs/status/CREDENTIAL_ROTATION_GUIDE.md
  docs/status/CREDENTIAL_ROTATION_WALKTHROUGH.md
  scripts/validate-1password-structure.sh
  scripts/validate-secrets.sh
Due: esphome-credential-check, git-secrets-scan

Fix GitHub Actions security scan git-secrets integration
  .gitallowed
  .github/workflows/security-scan.yml
  tests/test_config.py
  tests/test_rotate_credentials.py
Due: esphome-credential-check, git-secrets-scan

Fix circular git-secrets detection by using regex patterns
  .gitallowed
  .github/workflows/security-scan.yml
Due: esphome-credential-check, git-secrets-scan

Fix GitHub Actions security scan by adding detect-secrets baseline
  .github/workflows/security-scan.yml
  .gitignore
  .secrets.baseline
Due: esphome-credential-check, git-secrets-scan

Remove redundant ESPHome credential check from GitHub Actions
  .github/workflows/security-scan.yml
  Taskfile.yml
  docs/status/ESPHOME_CREDENTIAL_CHECK_REMOVAL.md
  docs/status/PYTHON_SECURITY_MIGRATION.md
Due: esphome-credential-check, git-secrets-scan

Fix CI/CD pipeline and pre-commit hook issues
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  .secrets.baseline
  attic_sensor-minimal.yaml
  common/heatpump-climate.yaml
  common/particle-d1mini32.yaml
  common/sensor/pir.yaml
  common/sensor/temt6000.yaml
  common/sensors.yaml
  docs/status/ESPHOME_CREDENTIAL_CHECK_REMOVAL.md
  scripts/security_lib.py
  scripts/validate_1password_structure.py
  scripts/validate_secrets.py
Due: esphome-credential-check, git-secrets-scan

Path conditions:
  esphome-credential-check: any of: \.(yaml|yml)$
  git-secrets-scan: any of: \.(yaml|yml|sh|py|js|ts|json|md)$
